<%- include('./component/header') %>
  <div class="container" style="text-align: center;">
    <img src="/img/invalid.gif"><br>
    <span style="color:red; font-size: 64px"><b>Invalid Token</b></span>
  </div>
<%- include('./component/footer') %>
